
<h2 class="center-align trochut">Greeting Cards</h2>

<div class="row center-align">
  <div class="col s4">
    <a href="/cards/birthday">
      <h4 class="trochut">Birthday</h4>
      <% if @birthday_picture %>
        <%= image_tag @birthday_picture.front_image.url(:medium), :class => 'responsive-img' %>
      <% end %>
    </a>
  </div>
  <div class="col s4 ">
    <a href="/cards/sympathy">
      <h4 class="trochut">Sympathy</h4>
      <% if @sympathy_picture %>
        <%= image_tag @sympathy_picture.front_image.url(:medium), :class => 'responsive-img' %>
      <% end %>
    </a>
  </div>
  <div class="col s4 ">
    <a href="/cards/thank_you">
      <h4 class="trochut">Thank You</h4>
      <% if @thank_you_picture %>
        <%= image_tag @thank_you_picture.front_image.url(:medium), :class => 'responsive-img' %>
      <% end %>
    </a>
  </div>
</div>
<div class="row center-align">
  <div class="col s4 ">
    <a href="/cards/love">
      <h4 class="trochut">Love</h4>
      <% if @love_picture %>
        <%= image_tag @love_picture.front_image.url(:medium), :class => 'responsive-img' %>
      <% end %>
    </a>
  </div>
  <div class="col s4 ">
    <a href="/cards/congratulations">
      <h4 class="trochut">Congratulations</h4>
      <% if @congratulations_picture %>
        <%= image_tag @congratulations_picture.front_image.url(:medium), :class => 'responsive-img' %>
      <% end %>
    </a>
  </div>
  <div class="col s4 ">
    <a href="/cards/anniversary">
      <h4 class="trochut">Anniversary</h4>
      <% if @anniversary_picture %>
        <%= image_tag @anniversary_picture.front_image.url(:medium), :class => 'responsive-img' %>
      <% end %>
    </a>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('select').material_select();
  })
</script>
