<div class="row">
  <div class="col s6">
    <%= image_tag @card.front_image.url(:large), :class => 'responsive-img' %>
  </div>
  <div class="col s6">
    <h4><%= @card.code %></h4>
    <% if current_user %>
      <%= form_for CartItem.new do |f| %>
        <input type="hidden" name="cart_item[retailer_id]" value="<%= current_user.retailer.id %>">
        <input type="hidden" name="cart_item[product_id]" value="<%= @card.product_id %>">
        <div class="input-field">
          <label>Order Amount</label>
          <input type="text" name="cart_item[quantity]">
        </div>
        <input type="submit" value="Place Order" class="btn">
      <% end %>
    <% else %>
      <p>
        Sign in to order:
        <a href="/login?redirect_url=<%=request.fullpath %>">Login</a>
      </p>
      <p>
        or Sign up:
        <a href="/signup?redirect_url=<%=request.fullpath %>">Sign Up</a>
      </p>
    <% end %>
    <% if @card.product_id.nil? %>
    <%= link_to "Apply Product", "/cards/give_card_product?id=#{@card.id}", method: :post %>
    <% end %>
  </div>
</div>
