
<h1 class="center-align trochut" style="text-decoration:underline">Back-Lit Canvas Art</h1>


<div class="center-align row">
  <%= form_for LedPicture.new do |f| %>
    <div class="input-field">
      <label>Front Image</label>
      <%= f.file_field :image %>
    </div>
    <div class="input-field">
      <label>Inside Image</label>
      <%= f.file_field :gif %>
    </div>
    <div class="input-field">
      <label>Code</label>
      <%= f.text_field :code %>
    </div>
    <div class="input-field">
      <label>Title</label>
      <%= f.text_field :title %>
    </div>
    <%= f.submit %>
  <% end %>

<% @led_pictures.each_slice(2) do |slice| %>
  <div class="row">
    <% slice.each do |led| %>
      <div class="col s12 m6 led-picture center-align">
        <!-- <img src="/play.png" alt="" class="play-button responsive-img" /> -->
        <%= image_tag led.image.url(:medium), :class => "responsive-img image" %>
        <%= image_tag led.gif.url(:medium), :class => "responsive-img hidden gif" %>
        <h5 class="trochut"><%= led.title %></h5>
        <h5 class = "oswald"><%= led.code %></h5>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row center-align">
  <div class="col s6 offset-s3">
    <img src="/back.jpeg" alt="" class="responsive-img"/>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('select').material_select();
  })

  $('.image').mouseover(function(){
    gifSwap($(this))
  })

  $('.image').click(function(){
    gifSwap($(this))
  })

  $('.gif').click(function(){
    var ledDiv = $(this).parent();
    var image = ledDiv.find('.image')
    // var playButton = ledDiv.find('.play-button')
    $(this).attr('class', 'responsive-img gif hidden')
    image.attr('class', 'responsive-img image')
    // playButton.attr('class', 'responsive-img play-button')
  })

  function gifSwap(image){
    var ledDiv = image.parent();
    var gif = ledDiv.find('.gif');
    // var playButton = ledDiv.find('.play-button')
    $('.gif').each(function(){
      $(this).attr('class', 'responsive-img gif hidden')
    })
    $('.image').each(function(){
      $(this).attr('class', 'responsive-img image')
    })
    // $('.play-button').each(function(){
    //   $(this).attr('class', 'responsive-img play-button')
    // })
    image.attr('class', 'responsive-img image hidden');
    // playButton.attr('class', 'responsive-img play-button hidden')
    gif.attr('class', 'responsive-img gif');
  }
</script>
